# Érzékeny adatok – SOHA ne menjen GitHubra
API.txt
*.key
*.pem
.env
.env.*
.dev.vars

# Archívumok
*.zip

# OS / editor szemét
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# Függőségek
node_modules/
